
body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #545454;
    background: #fff; 
    font-size: 16px;
    line-height: 1.5;
    
}

#cuerpo {
 
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
    
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    line-height: 1.3;
}

table {
    width: 150px;
    height: 150px;
    table-layout: fixed;
    margin-bottom: 15px;

    
}

td {
    border: 1px solid;
    text-align: center;
    height: 50px;
    width: 50px;
}

#main-header {
	background: #333;
	color: white;
	height: 80px;
}

#main-header a {
	color: white;
}

#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}

	
	
	

#main-footer {

    position:absolute;
    bottom:0;
    
    width:100%;

	background: #333;
	color: white;
	text-align: left;

}

#main-footer p {
	margin: 5px;
}
	